doctype html
html
    head
        meta(charset = 'utf-8')
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500,700,900" rel="stylesheet")
        script(defer src='index.js')
        link(href='css/normalize.css' type="text/css" rel='stylesheet')
        link(href='css/index.css' rel='stylesheet')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Флорист
    body
        .wrapper
            .modal_bg
            .container__modal.container__modal__end.hidden
                .modal__inner
                    h1.modal__inner__head Время истекло
                    p.modal__inner__text#result__cont_game Ваш результат:
                    input.modal__inner__button#modal_restart(type="button" value="Начать заново")
            .container__modal.container__modal__start
                .modal__inner
                    h1.modal__inner__head Флорист
                    p.modal__inner__text Совпадает ли текст цвета слева со значение цвета справа?
                    input.modal__inner__button#modal_start(type="button" value="Начать игру")
            .container.content__container
                header.header__container
                    p.header_game_name Флорист
                .main_content
                    .container__work
                        .container_info
                            .timer Timer: 0
                            .score Score: 0
                        .container__work__inner
                            .color-row_items
                                .color-item.color_text#color_text1 Красный
                                .color-item.color_value#color_value1 Зеленый
                        .bottom_info
                            .bottom_info__text_question Совпадают ли?
                            a.bottom_info__button_answer#answer_yes(href='#') Да
                            a.bottom_info__button_answer#answer_not(href='#') Нет
