doctype html
html
    head
        meta(charset = 'utf-8')
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500,700,900" rel="stylesheet")
        script(src='index.js')
        link(href='css/index.css' rel='stylesheet')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Webpack Шаблон
        
    body
        h1 Webpack Шаблон
        ul
            li Pug
            li Sass
            li Babel
